# ------------------------
# Node / Bun dependencies
# ------------------------
node_modules/
**/node_modules/

# ------------------------
# Output / build folders
# ------------------------
out/
dist/
**/out/
**/dist/
*.tgz

# ------------------------
# Code coverage
# ------------------------
coverage/
**/coverage/
*.lcov

# ------------------------
# Logs
# ------------------------
logs/
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# ------------------------
# Environment variable files
# ------------------------
.env
.env.*.local
.env.local

# ------------------------
# Caches
# ------------------------
.eslintcache
.cache
*.tsbuildinfo
**/.cache
**/*.tsbuildinfo

# ------------------------
# IDE / OS files
# ------------------------
.idea/
.DS_Store

# ------------------------
# Ignore everything in core and web except src (optional)
# ------------------------
core/out/
core/dist/
core/node_modules/
web/out/
web/.next/
web/node_modules/
