<div class="fixed bottom-0 left-0 right-0 p-4 container mx-auto backdrop-blur-md">
  <div class="flex items-center justify-between">
    <span>
      Developed by 
      <a class="font-semibold text-tertiary" href="https://github.com/Sharmil001">@Sharmil001</a>
    </span>    
    <a class="font-semibold text-tertiary" href="https://github.com/Sharmil001/genz-lang/tree/main/core">
      {"<Source />"}
    </a>
  </div>
</div>
